backports.functools-lru-cache==1.6.6
bitarray==2.8.0
boto3==1.17.112
botocore==1.20.112
bz2file==0.98
certifi==2021.10.8
chardet==4.0.0
cycler==0.10.0
decorator==4.4.2
futures==3.4.0
gensim==3.8.3
idna==2.10
jmespath==0.10.0
kiwisolver==1.1.0
matplotlib==2.2.5
networkx==1.11
numpy==1.16.1
pylfsr==1.0.7
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2023.3
requests==2.27.1
s3transfer==0.4.2
scikit-learn==0.20.4
scipy==1.2.3
six==1.16.0
smart-open==1.10.1
subprocess32==3.5.4
urllib3==1.26.16
